<div class="swatch__container" [ngSwitch]="type" (click)="onClicked($event)">
	<div *ngSwitchCase="'IMG'"  class="swatch" [ngStyle]="backgroundImageProps">
		<div class="skew-line"></div>
	</div>
	<div *ngSwitchCase="'CODE'" class="swatch">
		<div class="swatch-code" *ngFor="let code of swatch.codes | slice:0:3" [style.backgroundColor]="code"></div>
		<div class="skew-line"></div>
	</div>
	<div *ngSwitchCase="'TEXT'" class="swatch">
		<span class="swatch__text">{{swatch.label}}</span>
	</div>
</div>
