.swatch-mock {
	max-width: 1200px;
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}

.swatch-list {
	width: 350px;
}

.variant-selector {
	margin-top: 20px;
	display: flex;
}

h2 {
	margin-right: 20px;
}
