.variant-attribute-selectors {
	margin: 10px;
}

.variant-attribute-selector {
	margin: 10px 0;
}

.swatch-label {
	margin-bottom: 5px;
	margin-left: 5px;
}

.console {
	margin-left: 15px;
}

.error {
	margin-left: 10px;
	color: red;
}

.inactive {
	pointer-events: none;
}
